:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-title-color: #2e2f42;
  --primary-text-color: #434455;
  --secondary-text-color: #f4f4fd;
  --background-color: #ffffff;
  --dark-background-color: #2e2f42;
  --main-color-button: #4d5ae5;
  --background-color-button: #f4f4fd;
  --color-logo-add: #2e2f42;
  --color-logo-add-light: #f4f4fd;
  --color-text-light: #ffffff;
  --icon-main-color: #8e8f99;
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

/* .container {
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 15px;
  padding-right: 15px;
} */

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mobile-menu-open {
  background: transparent;
  color: rgba(46, 47, 66, 1);
  border: none;
  padding: 0;
  line-height: 0;
}

@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
.page-header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 17px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-end {
  color: var(--color-logo-add);
}

/* Mobile-menu */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: rgba(231, 233, 252, 1);
  border-color: rgba(46, 47, 66, 1);
}
.mobile-menu-close-icon {
  fill: rgba(46, 47, 66, 1);
}

.mobile-menu-container {
  position: relative;
  padding-left: 40px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-link-mobile {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(46, 47, 66, 1);
}

.menu-list-mobile {
  margin-bottom: 284px;
}

.menu-link-mobile:hover,
.menu-link-mobile:focus {
  color: rgba(64, 75, 191, 1);
}
.contact-link-tel-mobile {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;
  font-style: normal;
  margin-bottom: 40px;
  color: rgba(67, 68, 85, 1);
}
.contact-link-tel-mobile:hover,
.contact-link-tel-mobile:focus {
  color: rgba(64, 75, 191, 1);
}
.contact-link-mail-mobile {
  color: rgba(67, 68, 85, 1);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 40px;
  font-style: normal;
}
.contact-link-mail-mobile:hover,
.contact-link-mail-mobile:focus {
  color: rgba(64, 75, 191, 1);
}
.adress-list-mobile {
  margin-bottom: 48px;
}
.adress-list-mobile-item:not(:last-child) {
  margin-bottom: 40px;
}
.social-media-icon-mobile-list {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 56px;
}
.social-media-mobile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
}
.social-media-icon.mobile {
  fill: rgba(244, 244, 253, 1);
}

@media screen and (min-width: 768px) {
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu-list {
    display: flex;
    align-items: center;
  }
  .menu-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba(46, 47, 66, 1);
    transition: color var(--transition-main);
  }
  .menu-link.link:active,
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-link::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
  }
  .menu-link.link:hover::after {
    content: "";
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
  }
  .menu-item:not(:last-child) {
    margin-right: 40px;
  }
  .contact-link:not(:last-child) {
    margin-bottom: 12px;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .menu-link.active::after {
    background-color: #404bbf;
  }

  .menu-link.active {
    color: #404bbf;
  }
}

@media screen and (min-width: 1200px) {
  .adress-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

/* Section-1-Hero */

@media screen and (min-width: 420px) {
  /* .hero-cont {
    text-align: center;
  } */
  .hero {
    background-color: #2e2f42;
    max-width: 428px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  .hero-title {
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
  }

  .order-btn {
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow var(--transition-main), border-radius var(--transition-main);
  }
  .order-btn:hover,
  .order-btn:focus {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 10000;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .backdrop.is-hidden.modal {
    opacity: 0;
    transform: translate(50%, -100%);
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    width: 392px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-title-message {
    font-family: var(--primary-font);
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(46, 47, 66, 1);
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border var(--transition-main);
  }

  .form-field-wrapper {
    display: block;
    position: relative;
  }
  .form-field-icon {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    cursor: pointer;
    fill: rgba(46, 47, 66, 1);
    transition: fill var(--transition-main);
  }

  .form-field-icon:hover,
  .form-field-icon:focus {
    fill: #404bbf;
  }

  .modal-form-input:focus,
  .modal-form-input:hover {
    outline: none;
    border: 1px solid rgba(77, 90, 229, 1);
  }

  .modal-form-field-descr {
    font-size: 12px;
    line-height: 1.17;
    font-weight: 400;
    font-family: var(--primary-font);
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
  }
  .modal-form-field {
    margin-top: 16px;
  }

  .modal-form-fake-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color var(--transition-main);
    margin-right: 8px;
    transition: fill var(--transition-main);
  }

  .modal-form-check-descr {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 24px;
  }
  .fake-checkbox-icon {
    fill: transparent;
  }
  .modal-form-check:checked
    + .modal-form-check-descr
    .modal-form-fake-checkbox {
    background-color: #404bbf;
  }

  .modal-form-check:checked + .modal-form-check-descr .fake-checkbox-icon {
    fill: rgba(244, 244, 253, 1);
  }
  .policy-link {
    color: #404bbf;
  }
  .policy-text {
    color: rgba(142, 143, 153, 1);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 1.3;
  }
  .send-modal-btn {
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow var(--transition-main), border-radius var(--transition-main);
  }

  .send-modal-btn:hover,
  .send-modal-btn:focus {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    margin-bottom: 16px;
    padding: 8px 16px 8px 16px;
  }
  .modal-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 1.2;
  }

  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 250ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:focus,
  .modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
  }
  .modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-icon:focus,
  .modal-close-icon:hover {
    fill: #ffffff;
  }

  .modal-close-btn:focus .modal-close-icon,
  .modal-close-btn:hover .modal-close-icon {
    fill: #ffffff;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 428px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg-mobile.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/Dark-bg-mobile@2x.jpg");
    }
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg-tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/Dark-bg-tablet@2x.jpg");
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-desktop@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }
  .modal {
    width: 408px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
  }
}

/* Section-values */
@media screen and (max-width: 1199px) {
  .value-icon {
    display: none;
  }
  .values-cont > .value-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 420px) {
  .value-section {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .title-description.value {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    margin-bottom: 8px;
  }
  .value-icon-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  /* .value-item:not(:last-child) {
    margin-bottom: 72px;
  } */
}

@media screen and (min-width: 768px) {
  .value-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0px;
  }

  .values-cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .value-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .values-cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 24px;
  }
  .values-cont {
    display: flex;
    align-content: center;
    gap: 24px;
  }

  .value-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .value-icon {
    display: block;
    background-color: var(--background-color-button);
  }

  .value-icon-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .strategy::before {
    background-image: url("../images/hw5/antenna\ 1.svg");
  }
  .punctuality::before {
    background-image: url("../images/hw5/clock\ 1.svg");
  }

  .diligence::before {
    background-image: url("../images/hw5/diagram\ 1.svg");
  }

  .technologies::before {
    background-image: url("../images/hw5/astronaut\ 1.svg");
  }

  .title-description.value {
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* What are we doing section */
@media screen and (max-width: 1199px) {
  .section-working {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .working-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  .working-item: :nth-last-child(3n) {
    margin-right: 0;
  }
  .working-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    margin-bottom: 72px;
  }
}

/* Our team section */
@media screen and (min-width: 420px) {
  .our-team-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    margin-bottom: 72px;
  }
  .our-team-cont {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }

  .employee-card-descr {
    text-align: center;
    padding: 32px 0 32px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .our-team-list {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /* .our-team-list:not(:last-child) {
    margin-bottom: 72px; */

  .our-team-section {
    background-color: rgba(244, 244, 253, 1);
    /* padding-top: 96px;
    padding-bottom: 96px; */
  }

  .social-employee-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
  }
  .employee-card-descr > .title-description {
    margin-bottom: 8px;
  }
  .social-employee-list-item {
    width: 40px;
    height: 40px;
  }

  .employee-social-media {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-button);
    border-radius: 50%;
    transition: background-color var(--transition-main);
  }
  .employee-social-media:hover,
  .employee-social-media:focus {
    background-color: #404bbf;
  }

  .employee-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #f4f4fd;
  }
}

@media screen and (min-width: 768px) {
  .our-team-cont {
    flex-direction: initial;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: calc((100%-24px) / 2);
    align-items: center;
    gap: 72px;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  .our-team-list {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-cont {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: calc((100%-72px) / 4);
    align-items: center;
    gap: 24px;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  .our-team-list {
    margin-bottom: 0px;
  }
}

/* Customers-section */
@media screen and (min-width: 420px) {
  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc((100%-16px) / 3);
    row-gap: 72px;
    column-gap: 16px;
  }
  .customers-icon {
    fill: currentColor;
    transition: fill var(--transition-main);
  }
  .customers-icon:hover,
  .customers-icon:focus {
    fill: #404bbf;
  }
  .customers-link {
    border: 1px solid #8e8f99;
    color: var(--icon-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-link:hover,
  .customers-link:focus {
    border: 1px solid #404bbf;
    color: #404bbf;
  }
}
@media screen and (min-width: 768px) {
  .customers-list {
    flex-basis: calc((100%-48px) / 2);
    row-gap: 72px;
    column-gap: 24px;
  }
}

/* Footer */

@media screen and (min-width: 420px) {
  .footer-section {
    background-color: var(--dark-background-color);
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo-footer {
    margin-bottom: 16px;
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
    color: rgba(244, 244, 253, 1);
  }

  .logo_footer-cont {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo_footer-cont > .logo-footer {
    margin-right: 0;
  }
  .social-media-footer-item {
    width: 40px;
    height: 40px;
  }
  .social-media-text {
    color: var(--color-text-light);
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 72px;
  }

  .social-media-icon {
    fill: #f4f4fd;
  }

  .social-media-icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .social-media-link {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-button);
    border-radius: 50%;
    transition: background-color var(--transition-main);
  }
  .social-media-link:hover,
  .social-media-link:focus {
    background-color: #31d0aa;
  }
  .footer-section {
    background-color: var(--dark-background-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .subscribe-msg {
    color: var(--color-text-light);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 72px;
  }
  .subscribe-form {
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    /* display: flex; */
    justify-content: center;
    /* width: 453px; */
    align-items: center;
  }
  .subscribe-msg {
    color: var(--color-text-light);
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .subscription-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    outline: none;
    width: 264px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--color-text-light);
  }
  .subscription-field::placeholder {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
  }

  /* .subscribe-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  } */

  .subscribe-btn {
    position: relative;
    border: none;
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 24px;
    background: rgba(77, 90, 229, 1);
    text-align: left;
    line-height: 0;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow var(--transition-main);
  }

  .subscribe-btn-icon {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    fill: rgba(255, 255, 255, 1);
    z-index: 40;
    margin: 0;
  }
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contant {
    padding-left: 108px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 112px;
    column-gap: 24px;
    align-items: top;
    justify-content: left;
  }
  .logo_footer-cont {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: start;
  }

  .social-media-text {
    margin-top: 0;
  }
  .subscribe-msg {
    position: absolute;
    top: -16px;
    transform: translateY(-100%);
    left: 0;
    text-align: left;
    margin-top: 0px;
  }
  .subscribe-btn-wrapper {
    display: block;
    margin-top: 0;
  }
  .subscribe-field-wrapper {
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contant {
    padding-left: 156px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 112px;
    column-gap: 24px;
    align-items: normal;
    justify-content: left;
  }
  .subscribe-msg {
    position: static;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .subscribe-form {
    margin-bottom: 0px;
    margin-top: 0px;

    line-height: 0;
  }
  .subscribe-field-wrapper {
    position: static;
    display: block;
    line-height: 0;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .subscribe-field {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
  }
  .social-media-text {
    text-align: left;
  }
}
/* .social-media {
  margin-right: 80px;
} */
.logo-end-footer {
  color: var(--color-logo-add-light);
}
.social-media-footer-item {
  width: 40px;
  height: 40px;
}
.menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  transition: color var(--transition-main);
}
.menu-link.link:active,
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link.link:hover::after {
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}
.contact-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  transition: color var(--transition-main);
}
.contact-link:active,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.contacts-list {
  font-style: normal;
}
/* .subscribe-form {
  display: flex;
  width: 453px;
  align-items: center;
} */
/* .subscribe-msg {
  color: var(--color-text-light);
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscription-field {
  display: block;
  background: transparent;
  outline: none;
  width: 264px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 24px;
  color: var(--color-text-light);
}
.subscription-field::placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

.subscribe-btn-wrapper {
  position: relative;
}

.subscribe-btn {
  border: none;
  display: block;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 24px;
  background: rgba(77, 90, 229, 1);
  text-align: left;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--transition-main);
} */

/* .subscribe-btn-icon{
  display: block;
position: absolute; 
top: 50%;
transform: translateY(-50%);
right: 24px;
fill:rgba(255, 255, 255, 1);
z-index: 4;
margin: 0;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}







.filter-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-color-button);
  background-color: var(--background-color-button);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.filter-btn:active {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
    transition: color var(--transition-main), background-color var(--transition-main), box-shadow var(--transition-main), border-radius var(--transition-main), border var(--transition-main);
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
} */

/*
.customers-section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.customers-item{
  calc((100% - 120px) / 6);
  height: 88px;
}

.customers-icon{
  fill:currentColor;
    transition: fill var(--transition-main);
}
.customers-icon:hover,
.customers-icon:focus{
  fill: #404BBF;
}
.customers-link{
  border: 1px solid #8E8F99;
 color: var(--icon-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
 }
.customers-link:hover,
.customers-link:focus{
    border: 1px solid #404BBF;
    color: #404bbf;

}

.filter-list-cont {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
      transition: box-shadow var(--transition-main);

}
.portfolio-item: :nth-last-child(3n) {
  margin-right: 0;
}

.portfolio-item: :nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-item:hover{
  box-shadow: 0px 2px 1px 0px #2E2F4214;

box-shadow: 0px 1px 1px 0px #2E2F4229;

box-shadow: 0px 1px 6px 0px #2E2F4214;

}
.portfolio-thumb{
  position: relative;
    overflow: hidden;

}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0);
}
.overlay-text{
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 padding: 40px 32px;
  background-color: var(--main-color-button);
  transition: transform var(--transition-main);
  color: rgba(244, 244, 253, 1);
}


.portfolio-link{
  display: block;
      transition: box-shadow var(--transition-main);

}
.portfolio-link:hover,
.portfolio-link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-descr-cont {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
} */
/* .footer-contant {
  display: flex;
  align-items: baseline;
}

.logo_footer-cont {
  margin-right: 120px;
}

.social-media {
  margin-right: 80px;
}
.social-media-text {
  color: var(--color-text-light);
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-media-icon {
  fill: #f4f4fd;
}


.social-media-icon-list {
  display: flex;
  gap: 16px;
}
.social-media-link {
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-button);
  border-radius: 50%;
      transition: background-color var(--transition-main);

}
.social-media-link:hover,
.social-media-link:focus{
  background-color: #31D0AA;
}

.social-employee-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
 }

.social-employee-list-item{
   width: 40px;
  height: 40px;
}

.employee-social-media {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-button);
  border-radius: 50%;
      transition: background-color var(--transition-main);

}
.employee-social-media:hover,
.employee-social-media:focus{
  background-color: #404bbf;
}

.employee-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
} */
